@import "vars";
@import "fonts";
@import "reset";
@import "global";
@import "libs";

// start header
.header {
  background-color: $white;
  width: 100%;
  &__top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    z-index: 2;
    overflow-x: hidden;
    background-color: $header-top-bg;
  }
  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    transition: all 0.6s;
  }
  &__top-inner.sticky {
    height: 45px;
  }
  &__box--left,
  &__box--right {
    display: flex;
    align-items: center;
  }
  &__box--left {
    padding-right: 400px;
  }
  &__logo {
    font-size: 24px;
    & span {
      @include f800;
      margin-right: 5px;
    }
  }
  &__menu {
    margin-left: 40px;
    & ul {
      display: flex;
    }
    & ul li {
      position: relative;
      margin-left: 48px;
    }
    & ul li::before {
      content: "";
      position: absolute;
      left: -20px;
      bottom: -33px;
      width: 100px;
      height: 0;
      background-color: $black;
      transition: all 0.4s;
    }
    & ul li:hover::before {
      height: 3px;
    }
    & ul li a {
      font-size: 14px;
      @include f600;
    }
  }
  &__text {
    & a {
      font-size: 14px;
      @include f600;
    }
    & a.delivery {
      @include f400;
    }
    & .header__phone {
      margin-right: 48px;
      transition: all 0.3s;
    }
    & .header__phone:hover {
      color: $hoverText;
    }
    // icon-search
    & .menu-item {
      opacity: 1;
      transform: opacity 1s, visibility 0s;
    }
    & .menu-item.hide-item {
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s, visibility 0s 1s;
    }
    &:nth-child(2) .menu-item.hide-item {
      transition-delay: 0.6s;
    }
    &:nth-child(3) .menu-item.hide-item {
      transition-delay: 0.5s;
    }
    &:nth-child(2) .menu-item {
      transition-delay: 0.1s;
    }
    &:nth-child(3) .menu-item {
      transition-delay: 0.2s;
    }
  }
  &__btn {
    display: flex;
    &-menu {
      margin-left: 30px;
    }
  }
  &__search-form {
    position: absolute;
    top: 23px;
    left: 60%;
    transform: translateX(0%);
    width: 600px;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    &.active {
      opacity: 1;
      visibility: visible;
      transition-delay: 0.5s;
      transform: translateX(-50%);
    }
    & input {
      width: 100%;
      height: 44px;
      background: transparent;
      color: $text;
      border: 1px solid $text;
      outline: none;
      font-size: 16px;
    }
    &::before {
      content: "\e986";
      font-family: icomoon;
      position: absolute;
      top: 12px;
      left: -26px;
      font-size: 18px;
      color: $text;
    }
  }
}

.cross {
  height: 44px;
  width: 20px;
  font-size: 18px;
  line-height: 44px;
  color: $text;
  text-align: right;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s, visibility 0s 1s;
  &::before {
    content: "\ea0f";
    font-family: "icomoon";
    font-size: 16px;
  }
  &.active {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s, visibility 0s;
  }
}

// start slider
.slider{
  &__item{
    max-width: 1760px;
    width: 100%;
    position: relative;
    &-img{
      min-height: 787px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
    }
    &-info{
      width: 481px;
      position: absolute;
      top: 220px;
      left: 200px;
    }
    
    &-dots{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 110px;
      align-items: center;
      padding-left: 12.5vw;
      border-top: 1px solid hsla(0, 0%, 100%, 0.3);
      display: flex;
    }
    &-dots--left{
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 160px;
      width: 100%;
      height: 110px;
      border-right: 1px solid hsla(0, 0%, 100%, 0.3);
    }
    &-dots--total{
      position: absolute;
      bottom: 30px;
      left: 71px;
      color: $white;
    }
  }
  &__subtitle{
    color: $white;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 27px;
  }
  &__title{
    color: $white;
    font-size: 60px;
    line-height: 64px;
    margin-bottom: 32px;
  }
  &__btn{
    display: inline-block;
    padding: 12px 23px;
    @include f600;
    font-size: 14px;
    line-height: 1.2;
    color: $hoverText;
    background-color: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all 0.1s;
  }
  &__btn:hover{
    background-color: transparent;
    color: $white;
  }
}

.slick-dots{
  position: absolute;
  bottom: 65px;
  left: 72px;
  & li{
    display: none;

  }
  & .slick-active{
    display: block;
    position: relative;
  }
  & .slick-active::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: -5px;
    height: 2px;
    width: 20px;
    background-color: $white;
  }
  & li button{
    border: none;
    background-color: transparent;
    color: $white;
    font-size: 16px;
  }
}

//end slider

@import "media";
